@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,800');
@import url('https://fonts.googleapis.com/css?family=Niconne');

body {
  font-family: 'Montserrat'!important;
}

.top-navbar {
  background-color: #111;
}
.link {
  color: #ffffff!important;
  font-size: 16px!important;
}
.link:hover {
  color: rgb(250, 26, 71) !important;
}
.logo {
  font-family: 'Niconne', cursive;
  font-size: 30px!important;
  font-weight: 800;
}

.solution {
  color: rgb(250, 26, 71);
}

.home-section {
  position: relative;
  background: url("../images/background.jpeg");
  background-size: cover;
  background-attachment: fixed;
  min-height:550px;
}
.home-section .dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  min-height: 550px; 
}
.intro {
  margin-top: 110px;
}
.intro h1 {
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
}
.tagline p {
  border: 1px solid #fff; 
  border-radius:20px; 
}
.intro a{
  background-color: rgb(250, 26, 71);
  border-radius: 20px;
  padding: 8px 80px;
  margin-top: 16px;
}

@media (max-width: 768px) {
  .tagline {
      display: none!important;
  }
  .intro {
    margin-top: 80px;
  }
}

.about {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 10px; 
  padding-top: 18px;
  padding-bottom: 18px;
}
.about img {
  width: 30%;
}
.about p {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}


@media (max-width: 991px) {
  .about img {
    width: 15%;
    margin-bottom: 1em;
  }
}
@media (min-width: 990px) { 
  .about img {
      float: right !important;
  }
}

.about a {
  border-radius: 0;
  background-color:rgb(250, 26, 71);
  font-size: 14px;
}

@media (max-width: 505px) {
  .about p {
    display: none;
  }
  .hire_me a {
    display: block;
  }
}

/* SERVICES PAGE */
.ecom, .ebook, .wordpress {
  margin-top: 8px;
}
.ecom-head, .ebook-head, .wordpress-head {
  color: #fff;
  cursor: pointer;
}
.e-com {
  background-color: rgb(5, 4, 5)!important;
}
.e-book {
  background-color: rgb(107, 8, 124)!important;
}
.w-ordpress {
  background-color: #00E676!important;

}
.ecom-icon {
  color: rgb(5, 4, 5)
}
.ebook-icon {
  color: rgb(107, 8, 124)
}
.contact {
  color: #fff!important;
  border-radius: 30px!important;
  margin-top: 8px;
  padding: 10px 20px!important;
}

/* Work And Project */
.work-projects {
  background-image: linear-gradient(to right top, #000000, #2c1018, #521425, #7a142f, #a40f35);
  min-height: 400px;
}
.badges {
  margin-top: 8px;
  margin-bottom: 8px;
}
.badges .badge {
  font-weight: 200;
  margin: 0 4px;
}
.bor-bo {
  border-bottom: 3px solid rgb(250, 26, 71); 
}

.main-footer {
  padding: 14px 0;
  background-color: #000;
  color: #fff;
}

/* Contact Page */
.contact-me .btn {
  border-radius: 20px;
  padding: 8px 80px;
  color: #fff
}
.fb {
  background-color: rgb(26, 123, 250)!important;
}
.gmail {
  background-color: rgb(156, 25, 25)!important;
}

/* Bubble Text */
.bubble-message {
  position: absolute;
  bottom: 0;
  right: 40px;
  width: 150px;
}
